<div class="d-flex justify-content-center"><h3 class="text-danger">Choose medic to delete </h3></div>
<br>
<app-filter [component]="'delete'"></app-filter>


<div *ngIf="readyToSearch" class="table-responsive">
    <table class="table table-hover ">
        <thead class="thead-dark ">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">CRM</th>
                <th scope="col">Landline</th>
                <th scope="col">Phone</th>
                <th scope="col">CEP</th>
                <th scope="col">Adress</th>
                <th scope="col">Specialty</th>
            </tr>
        </thead>
        <tbody>
            <tr class="col-md-6 table-danger" (click)="deleteMedic(medic.id, medic.name)" *ngFor="let medic of getMedicList()">
                <th scope="row">{{medic.id}}</th>

                <td>{{medic.name}}</td>
                <td>{{medic.crm}}</td>
                <td>{{medic.landline}}</td>
                <td>{{medic.phone}}</td>
                <td>{{medic.cep}}</td>
                <td>{{medic.adress}}</td>
                <td>{{medic.medicalSpecialty}}</td>
            </tr>
        </tbody>
    </table>
</div>