version: '3.8'

services:
    database:
        image: mysql:latest   
        ports:
            - "3307:3306"
        expose:
            - "3306"      
        environment:
            MYSQL_ROOT_PASSWORD: 1234
            MYSQL_DATABASE: medics
            MYSQL_USER: user
            MYSQL_PASSWORD: 1234
        volumes:
            - medicsDB:/var/lib/mysql
    backend:
        build: ./back-end/medics-management        
        ports:
            - "8080:8080"
        environment:
            SPRING_DATASOURCE_URL: jdbc:mysql://database:3306/medics
        depends_on:
            - database
volumes:
    medicsDB:
