<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

  <div></div>
  <ul class="d-flex nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 ">
    <li><a routerLink="/" class="nav-link px-2 link-secondary">Home</a></li>
    <li><a routerLink="/insert" class="nav-link px-2 link-dark">Insert</a></li>
    <li><a routerLink="/select" class="nav-link px-2 link-dark">Select</a></li>
    <li><a routerLink="/update" class="nav-link px-2 link-dark">Update</a></li>
    <li><a routerLink="/delete" class="nav-link px-2 link-dark">Delete</a></li>
  </ul>
  <div> </div>
</header>